<div class="container articles">
  <div class="row">
  <% Article.all.each_with_index do |a, i| %>
      <div class="item col-md-6">
        <a class="media" href="<%= article_path(a) %>">
          <div class="pull-left">
            <%= image_tag "http://www.avatarpro.biz/avatar?s=64&rnd=#{rand}", class: 'media-object', size: '64x64'  %>
          </div>
          <div class="media-body">
            <h4 class="media-heading"><%= a.title %></h4>
            <p><%= (sanitize (strip_tags a.content)).truncate(100) %></p>
          </div>
        </a>
      </div>
    <% end %>
  </div>
</div>
