<div class="container agenda">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="row">
        <div class="col-md-3">
          <ul class="nav nav-pills nav-stacked sidenav">
            <li class="active"><a href="#">未来科技大会</a></li>
            <li><a href="#">银河奖颁奖典礼</a></li>
            <li><a href="#">未来科技创新大赛</a></li>
          </ul>
        </div>
        <div class="col-md-9">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>时间</th>
                <th>内容</th>
                <th>嘉宾</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
              <tr>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>

          TYPE 2:

          <div class="media">
            <a class="pull-left" href="#">
              <%= image_tag '4.jpg', size: '64x64' %>
            </a>
            <div class="media-body">
              <h4 class="media-heading">每项活动都配图和详细介绍？</h4>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
          </div>
          <div class="media">
            <a class="pull-left" href="#">
              <%= image_tag '4.jpg', size: '64x64' %>
            </a>
            <div class="media-body">
              <h4 class="media-heading">Media heading</h4>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
          </div>
          <div class="media">
            <a class="pull-left" href="#">
              <%= image_tag '4.jpg', size: '64x64' %>
            </a>
            <div class="media-body">
              <h4 class="media-heading">Media heading</h4>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
          </div>
          <div class="media">
            <a class="pull-left" href="#">
              <%= image_tag '4.jpg', size: '64x64' %>
            </a>
            <div class="media-body">
              <h4 class="media-heading">Media heading</h4>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

