<div class="container cooperations">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="media">
        <a class="pull-left logo" href="#">
          <i class="fa fa-windows"></i>       
        </a>
        <div class="media-body">
          <h4 class="media-heading">Title</h4>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        </div>
      </div>
      <div class="media">
        <a class="pull-left logo" href="#">
          <i class="fa fa-windows"></i>       
        </a>
        <div class="media-body">
          <h4 class="media-heading">Title</h4>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        </div>
      </div>
      <div class="media">
        <a class="pull-left logo" href="#">
          <i class="fa fa-windows"></i>       
        </a>
        <div class="media-body">
          <h4 class="media-heading">Title</h4>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        </div>
      </div>
      <div class="media">
        <a class="pull-left logo" href="#">
          <i class="fa fa-windows"></i>       
        </a>
        <div class="media-body">
          <h4 class="media-heading">Title</h4>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        </div>
      </div>
    </div>
  </div>
</div>