<div class="container home">

  <!-- slide -->
  <div class="container">
    <div class="content" id="slide">
      <div id="carousel" class="carousel slide" data-ride="carousel" data-interval="false">

        <!-- Wrapper for slides -->
        <div class="carousel-inner">

          <div class="item active">
            <%= image_tag "slide0.jpg" %>
            <div class="carousel-caption">
              0
            </div>
          </div>

          <div class="item">
            <%= image_tag "slide1.jpg" %>
            <div class="carousel-caption">
              1
            </div>
          </div>

        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>  
  </div>

  <div class="container links">
    <div class="row">
      <div class="col-md-4">
        <a class="thumbnail" href="#">
          <div class="caption">
            <h4>Something here</h4>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <a class="thumbnail" href="#">
          <div class="caption">
            <h4>Something here</h4>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <a class="thumbnail" href="#">
          <div class="caption">
            <h4>Something here</h4>
          </div>
        </a>
      </div>
    </div>
  </div>

</div>