<div class="container news">
  <div class="row">
    <% (1..12).each do %>
      <div class="item col-md-6">
        <div class="media">
          <a class="pull-left" href="#">
            <%= image_tag '4.jpg', class: 'media-object' %>
          </a>
          <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            <p>ssssss sss ss</p>
          </div>
        </div>
      </div>
    <% end %>    
  </div>
</div>

