//= require font-awesome
//= require fonts
//= require_self

@import bootstrap
@import bourbon

*
  // +transition(all 0.4s)
  +user-select(none)
  text-decoration: none

a
  &:hover
    text-decoration: none

body
  font-family: Georgia, "Nimbus Roman No9 L", STSong, "AR PL SungtiL GB", NSimSun, SimSun, TW\-Sung, "WenQuanYi Bitmap Song", "AR PL UMing CN", "AR PL UMing HK", "AR PL UMing TW", "AR PL UMing TW MBE", serif
  // font-family: 'Open Sans', sans-serif


nav.navbar
  .navbar-brand
    padding-top: 5px

    img
      width: 128px

  ul.nav.navbar-nav
    a.cooperations
      background-color: lightblue
    a.apply
      background-color: lightcoral

  ul.navbar-nav.navbar-right.sns
    font-family: 'wlige'
    font-size: 1.3em

  ul.navbar-nav.navbar-right.language-switcher
    li
      a
        padding-left: 0
        padding-right: 5px

      &:first-child
        a
          padding-left: 15px
      &:last-child
        a
          padding-right: 15px


div.container.home
  
  div.carousel
    margin-bottom: 2em

    div.item
      height: 400px

  div.container.links
    a.thumbnail
      height: 120px

footer.main
  text-align: center
  font-size: 0.9em

div.container.speakers
  div.speaker div.thumbnail
    cursor: pointer

    h4
      text-align: center

    &:hover
      border-color: gray

    +transition(border 0.4s)

div.container.exhibitions
  .media
    .logo
      font-size: 5em
    .media-body
      padding: 1em auto auto 1em
      cursor: default

div.container.cooperations
  .media
    .logo
      font-size: 5em
    .media-body
      padding: 1em auto auto 1em
      cursor: default
