//= require font-awesome
//= require fonts
//= require_self

@import bootstrap
@import bourbon

*
  // +transition(all 0.4s)
  +user-select(none)
  text-decoration: none

a
  &:hover
    text-decoration: none

body
  font-family: Georgia, "Nimbus Roman No9 L", STSong, "AR PL SungtiL GB", NSimSun, SimSun, TW\-Sung, "WenQuanYi Bitmap Song", "AR PL UMing CN", "AR PL UMing HK", "AR PL UMing TW", "AR PL UMing TW MBE", serif
  // font-family: 'Open Sans', sans-serif

  // for fixed top navbar
  padding-top: 70px



nav.navbar
  .navbar-brand
    padding-top: 5px

    img
      width: 128px

  ul.nav.navbar-nav
    // a.cooperations
    //   background-color: lightblue
    a
      &:hover
        background-color: #e7e7e7

    a.apply
      background-color: orange

  ul.navbar-nav.navbar-right li.sns a
    font-family: 'wlige'
    font-size: 1.3em


div.container.home
  
  div.carousel
    margin-bottom: 2em

    div.item
      height: 400px

  div.container.links
    a.thumbnail
      height: 120px

footer.main
  text-align: center
  font-size: 0.9em

div.container.speakers
  div.speaker .thumbnail
    cursor: pointer

    div.caption
      text-align: center

    &:hover
      border-color: gray

    +transition(border 0.4s)

div.container.exhibitions
  .media
    .logo
      font-size: 5em
    .media-body
      padding: 1em auto auto 1em
      cursor: default

div.container.cooperations
  .media
    .logo
      font-size: 5em
    .media-body
      padding: 1em auto auto 1em
      cursor: default

div.container.articles
  div.item
    padding: 0.5em
    cursor: pointer

    +transition(background-color 0.4s)

    .media
      color: black

    &:hover
      background-color: whitesmoke
